# Gradle
.gradle/
build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# APK files
*.apk
*.aab

# Log files
*.log

# Outputs
/app/build
/.kotlin/sessions/kotlin-compiler-4451903408772547140.salive
